
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
#topheader {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
}
.font{
font-family: 'Bahnschrift',sans-serif;
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('Bahnschrift.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  background: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}
#mainpagephoto{
position: relative;
  height: 700px; 
  overflow: hidden; 
  background-image: url('https://c0.wallpaperflare.com/preview/126/815/585/weight-person-watch-gym.jpg');
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
#mainpagephoto img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; 
}
#video {
  position: relative; 
  height: 500px; 
  overflow: hidden; 
}

#video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
header {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding: 20px; 

}

.fontutopia {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

.fontutopia img {
  width: 150px;
  margin-bottom: 10px;
}

.fontutopia p {
  color: white; 
  font-size: 16px; 
  margin: 0; 
}
nav {
  background: black;
  color: #fff;
  padding: 10px 0;
  margin-top: -80px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  padding-left: 15%;
  margin:0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}
ul .font li a {
  color: white; 
  font-size: 16px;
  text-decoration: none; 
  transition: color 0.3s ease, font-size 0.3s ease; 
}

ul .font li a:hover {
color: darkgray;
font-size: 18px;
}

section {
  text-align: center;
  padding: 10px 0;
  background: rgb(31, 31, 31);
  color: white;
}

.NewGiza {
  position: relative;
}

.NewGiza img {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-overlayNewGiza {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-size: 50px;
}

.TextAllignLocationsng {
  position: absolute;
  top: 17%; 
  right: 5%; 
  color: grey;
  padding-left: 72%;
  text-align: center;
}

.Arkan {
  position: relative;
}

.Arkan img {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-overlayArkan {
  position: absolute;
  top: 46%;
  left: 43%;
  color: white;
  font-size: 50px;
}
.TextAllignLocationsArkan {
  position: absolute;
  top: 85%; 
  left: 5%; 
  color: grey;
  padding-right: 72%;
  text-align: center;
}

.Seashell {
  position: relative;
}

.Seashell img {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-overlaySeashell {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-size: 50px;
}

.TextAllignLocationsSeashell {
  position: absolute;
  top: 155%;
  right: 5%; 
  color: grey;
  padding-left: 72%;
  text-align: center;
}





.NewGiza img,
.Arkan img,
.Seashell img {
  transition: transform 0.3s ease; 
}


.NewGiza:hover img,
.Arkan:hover img,
.Seashell:hover img {
  transform: scale(1.05); 
}


.text-overlayNewGiza,
.text-overlayArkan,
.text-overlaySeashell {
  transition: color 0.3s ease, font-size 0.3s ease; 
}

.NewGiza:hover .text-overlayNewGiza {
  color: darkgray; 
  font-size: 55px; 
}

.Arkan:hover .text-overlayArkan {
  color: darkgray;
  font-size: 55px;
}

.Seashell:hover .text-overlaySeashell {
  color: darkgray;
  font-size: 55px;
}
.box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.3s ease;
}
.box.visible {
  opacity: 1;
  transform: translateY(0); 
  transition-delay: var(--delay);
}

.box:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.9); 
}


.box h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-family: 'Bahnschrift', sans-serif;
}

.box p {
  font-size: 19px;
  margin: 10px 0 0 0;
}

.box-container {
  display: flex; 
  justify-content: center; 
  gap: 30px; 
  padding: 50px 0;
}
.aim{
  text-align: center;
  color: rgb(97, 96, 96);
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
  background: rgb(31, 31, 31);
  color: white;
  position: relative;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: absolute; 
  top: 40px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.social-icons a img {
  width: 30px;
  height: auto; 
  transition: transform 0.3s ease; 
}

.social-icons a img:hover {
  transform: scale(1.1); 
}

.rights {
  color: rgb(118, 117, 117);
  text-align: center; 
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); 
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}

.contactus, .contactus2 {
  color: rgb(118, 117, 117);
  margin: 0;
  padding-left: 20px;
}

.contactus2 {
  padding-right: 20px;
  max-width: 400px;
  width: 100%;
}
.image-container {
  padding-left: 10%;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-out;
}

.animate-on-scroll.active {
  opacity: 1;
  transform: translateY(0);
}
.text-container {
  padding-left: 10%; 
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-out;
}

.animate-on-scroll.active {
  opacity: 1;
  transform: translateY(0);
}
.signup-button {
  background-color: rgb(71, 68, 68);
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button svg {
  margin-right: 5px; 
}

